<main>
    <div class="container col-xxl-8 px-4 py-5">
        <form>
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-md-10 mx-auto col-lg-5">
                    <img class="d-block mx-lg-auto img-fluid img-responsive" src="/assets/createAccount.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-7">
                    <h3 class="display-5 fw-bold lh-1 mb-3">Create an employer account</h3>
                    <p>You haven't posted a job before, so you'll need to create an employer account</p>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your company name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your company number of employee</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select an option</option>
                                <option value="1">1-49</option>
                                <option value="2">50-100</option>
                                <option value="3">101-200</option>
                            </select>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your first and last name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Company location</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">phone number</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary mb-3">save and continue</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</main>
