<main>
    <div class="container col-xxl-8 px-4 py-5">
        <form #createEmployerForm="ngForm" (ngSubmit)="onSubmit(companyInformation)">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-md-10 mx-auto col-lg-5">
                    <img class="d-block mx-lg-auto img-fluid img-responsive" src="/assets/createAccount.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-7">
                    <h3 class="display-5 fw-bold lh-1 mb-3">Create an employer account</h3>
                    <p>You haven't posted a job before, so you'll need to create an employer account</p>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your company name</label>
                            <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="companyInformation.companyName">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your company number of employee</label>
                            <select class="form-select form-input" aria-label="Default select example" id="noOfCandidateToHire" name="noOfCandidateToHire" [(ngModel)]="companyInformation.companySize">
                                <option selected>Select an option</option>
                                <option *ngFor="let n of noOfEmployee" [ngValue]="n.id">
                                    {{n.employeeSize}}
                                </option>
                            </select>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Your first and last name</label>
                            <input type="email" class="form-control" id="employerName" name="employerName" [(ngModel)]="companyInformation.employerName">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Company location</label>
                            <input type="email" class="form-control" id="companyLocation" name="companyLocation" [(ngModel)]="companyInformation.companyLocation">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">phone number</label>
                            <input type="email" class="form-control" id="companyPhoneNumber" name="companyPhoneNumber" [(ngModel)]="companyInformation.companyPhoneNumber">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Company Language</label>
                            <input type="email" class="form-control" id="companyLanguage" name="companyLanguage" [(ngModel)]="companyInformation.companyLanguage">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Company Country</label>
                            <input type="text" class="form-control" id="companyCountry" name="companyCountry" [(ngModel)]="companyInformation.companyCountry">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary mb-3" (click)="saveAndContinue(companyInformation)">save and continue</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</main>
