
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-6">
        <h5 class="h1 fw-bold lh-1 mb-3">Jobs</h5>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-end justify-content-end">
          <div>
            <button class="btn btn-primary" routerLink="/job/post">Post a Job</button>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="row row-cols-1 row-cols-md-12 mb-3">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Seach a job</h4>
            </div>
            <div class="card-body">
              <div class="row form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Job Title</label>
                  <input type="text" class="form-control" id="jobTitle" placeholder="job title">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Job Location</label>
                  <input type="text" class="form-control" id="jobTitle" placeholder="job location">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Sort By</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>--Select--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Sort By</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>--Select--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex align-items-end justify-content-end">
                    <button type="button" class="btn btn-secondary">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  

